body {
  scroll-behavior: smooth;
  justify-content: center;
}
div#root{
  width: 100%;
}

/* NAVBAR */  
.navbar-brand {
  color: #ffc107 !important;
  font-weight: bold;
}

/* HERO */
.hero-section {
  height: 100vh;
  background-image: url("public/images/hero-bg.jpg");
  background-size: cover;
  background-position: center;  
  display: flex;
  align-items: center;
  text-align: center;
  color: white;

}


.hero-title {
  font-size: 3rem;
  font-weight: bold;
}

.hero-btn {
  margin-top: 20px;
}

/* SECTION TITLES */
.section-title {
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

/* SERVICES */
.service-card {
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-8px);
}

/* PRODUCTS */
.product-card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

.product-img {
  height: 220px;
  object-fit: cover;
}

/* ABOUT */
.about-img {
  border-radius: 7%;
}

/* FOOTER */
.footer-custom {
  background-color: #222;
  color: white;
}
